body{
	background-image: url(suratebi/ukanafoni.jpg);
	background-size: cover;
}


.satauri{
	font-size: 85px;
	color: #C88C00;
	text-align: center;
	font-family: serif;
	text-box-edge: #DAAD45;
	margin: 0;


}

.qvesatauri{
	font-size: 25px;
	color: #C88C00;
	text-align: center;
	font-family: monospace;
	text-decoration:underline;
	margin: 0;
	display: block;

}

.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 50px;
	margin-top: -120px;
}

.logotext{
	text-align: center;
	flex-grow: 1;
}
.auth-buttons{
	display: flex;
	gap: 15px;
}

.btn{
	text-decoration: none;
	color: #b8890b;
	font-weight: bold;
	padding: 8px 16px;
	border: 1px solid #b8860b;
	border-radius: 5px;
	transition: 0.3s;
}.btn:hover{
	background-color: #b8860b;
	color: white;
}

.spacer{
	flex: 1;
	visibility: hidden ;
}

.navbar2{

	display: flex;
	align-items: center;
	
}

.info{
position: fixed;
bottom: 0;
	left: 0;
width: 100%;
background-color: #3E2A1C;
color: white;
text-align: center;
padding: 15px 0;
font-weight: bold;
}
 .article{
 	text-align: margin-top;
 	margin: 0;
 	position: fixed;
 	left: 0;
 	



 }

body{
	background-color: white;

}

